/* AdminPage.css */

.adminPage-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.adminPage-title {
    color: #333;
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 600;
}

@media (max-width: 768px) {
    .adminPage-container {
        padding: 10px;
    }

    .adminPage-title {
        font-size: 28px;
    }
}
