.topbar-container{
    color: white;
    width: 100vw;
    height: 8vh;
    /* background-color: rgb(0, 25, 42); */
    background: linear-gradient(120deg, #f093fb 0%, #0c4799 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.topbar-container h1{
    margin-left: 165px;
}

@media (max-width: 768px) {
    .topbar-container h1{
        margin-left: 0;
    }
}